
doctype html
html
  head
    title About Page
  body
    .container
      h1 Click the button to download an animal
      button(type='button', onclick='window.location.href="/nice_view.avif"') Download


